<h2>Crear Nota</h2>

<form novalidate (ngSubmit)="onSubmit(noteForm)" [formGroup]="noteForm">
    <div class="mb-3">
        <label for="titulo" class="form-label">Titulo</label>
        <input type="text" class="form-control" placeholder="Titulo" formControlName="tituloNota" ngModel>
    </div>
    <div class="mb-3">
        <label for="descr" class="form-label">Descripcion</label>
        <input type="text" class="form-control" placeholder="Descripcion" formControlName="descripcion" ngModel>
    </div>
    <div class="mb-3">
        <label for="fecha1" class="form-label">Fecha Inicio</label>
        <input type="date" class="form-control" placeholder="Fecha inicio" formControlName="fechaInicio" ngModel>
    </div>
    <div class="mb-3">
        <label for="fecha2" class="form-label">Fecha Fin</label>
        <input type="date" class="form-control" placeholder="Fecha fin" formControlName="fechaFin" ngModel>
    </div>

    <div class="mb-3">
        <label for="tipoNota" class="form-label">Tipo de Nota</label>
        <select class="form-select" formControlName="tipo" ngModel>
            <option selected disabled value="">Seleccione</option>
            <option value="Nota">Nota</option>
            <option value="Tarea">Tarea</option>
            <option value="Recordatorio">Recordatorio</option>
        </select>
    </div>
    <input type="submit" value="Guardar"> <!--routerLink="/notas" > al poner este redireccionamiento ya no guarda la ultima nota-->
</form>