<h2>REGISTRO DE USUARIOS</h2>


<form novalidate (ngSubmit)="onSubmit(userForm)" [formGroup]= "userForm">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input id="nombre" class="form-control" type="text" placeholder="Nombre" formControlName="nombre" ngModel >
    </div>
    
    <div class="mb-3">
        <label for="apellido" class="form-label">Apellidos</label>
        <input id="apellido" class="form-control" type="text" placeholder="Apellidos" formControlName="apellidos" ngModel >
    </div>
    <div class="mb-3">
        <label for="telefono" class="form-label">Telefono</label>
    <input id="telefono" class="form-control" type="number" placeholder="Number" formControlName="telefono" ngModel >
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
    <input id="email" class="form-control" type="text" placeholder="Email" formControlName="email" ngModel >
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
    <input id="password"class="form-control" type="password" placeholder="Password" formControlName="password" ngModel >
    </div>
    <input class="btn btn-primary" type="submit" value="Guardar"> <!--routerLink="/login"> al poner este redireccionamiento ya no guarda la ultima nota-->
</form>