<button type="button" class="btn btn-danger" data-dismiss="modal" style="float: left;" routerLink="/users" ><svg
    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
    class="bi bi-x-lg" viewBox="0 0 16 16">
    <path
        d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
</svg>Cancelar</button>
<form>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Guardar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let userRegister of user">
            <td><input type="text" name="nombre" id="nombre"value={{userRegister.nombre}}></td>
            <td><input type="text" name="apellidos" id="apellidos" value={{userRegister.apellidos}}></td>
            <td><input type="text" name="telefono" id="telefono" value={{userRegister.telefono}}></td>
            <td>{{userRegister.email}}</td>
            <td><input class="btn btn-primary" type="submit" (click)="editarUsuario(userRegister)" value="Guardar"></td>
       </tr>
    </tbody>
    
</table>
</form>