<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Lista de usuarios</h2> 

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Ver notas</th>         
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let userRegister of users">
          
            <td>{{userRegister.nombre}}</td>
            <td>{{userRegister.apellidos}}</td>
            <td>{{userRegister.telefono}}</td>
            <td>{{userRegister.email}}</td>
            <td><button class="btn btn-primary" ng-click="NotesUser()">notas</button></td>
         
        </tr>
    </tbody>
    
</table>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>

</div>
