<br>
<h2>Lista de usuarios</h2> 

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let userRegister of usuarios">
          
            <td>{{userRegister.nombre}}</td>
            <td>{{userRegister.apellidos}}</td>
            <td>{{userRegister.telefono}}</td>
            <td>{{userRegister.email}}</td>
            <td><button class="btn btn-danger" (click)="eliminarUsuario(userRegister)">Eliminar</button>
                <button class="btn btn-primary">Modificar</button></td>
        </tr>
    </tbody>
    
</table>