<br>
<h2>Usuarios</h2> 

<table class="table">
    <thead>
        <tr>
       
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Correo</th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let userRegister of usuarios">
          
            <td>{{userRegister.nombre}}</td>
            <td>{{userRegister.apellidos}}</td>
            <td>{{userRegister.telefono}}</td>
            <td>{{userRegister.email}}</td>
         
        </tr>
    </tbody>
    
</table>