
<form novalidate >
    <div class="mb-3">
        <label for="titulo" class="form-label">Titulo</label>
        <input type="text" class="form-control" placeholder="Titulo" >
    </div>
    <div class="mb-3">
        <label for="descr" class="form-label">Descripcion</label>
        <input type="text" class="form-control" placeholder="Descripcion" >
    </div>
    <div class="mb-3">
        <label for="fecha1" class="form-label">Fecha Inicio</label>
        <input type="date" class="form-control" placeholder="Fecha inicio" >
    </div>
    <div class="mb-3">
        <label for="fecha2" class="form-label">Fecha Fin</label>
        <input type="date" class="form-control" placeholder="Fecha fin" >
    </div>

    <div class="mb-3">
        <label for="tipoNota" class="form-label">Tipo de Nota</label>
        <select class="form-control" >
            <option selected disabled value="">Seleccione</option>
            <option value="Nota">Nota</option>
            <option value="Tarea">Tarea</option>
            <option value="Recordatorio">Recordatorio</option>
        </select>
    </div>
    <button type="button" class="btn btn-danger" data-dismiss="modal" style="float: left;"><svg
        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-x-lg" viewBox="0 0 16 16">
        <path
            d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
    </svg>Cancelar</button>
    
    <button type="button" class="btn btn-primary" style="float: right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
        <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
      </svg>Save changes</button> <!--routerLink="/notas" > al poner este redireccionamiento ya no guarda la ultima nota-->
</form>
